<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FLYHIGH</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/quote.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">FLY<span>HIGH</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <!---- NAVBAR------>

      <div class="main-container">
        <div class="main">
          <header>
            <div class="overlay">
              <div class="inner">
                <div class="wrapper">
                  <h1>Quote of the Day</h1>
                  <div class="content">
                    <div class="quote-area">
                      <i class="fas fa-quote-left"></i>
                      <p class="quote">
                        Never give up because you never know if the next try is
                        going to be the one that works.
                      </p>
                      <i class="fas fa-quote-right"></i>
                    </div>
                    <div class="author">
                      <span>__</span>
                      <span class="name">Mary Kay Ash</span>
                    </div>
                  </div>
                  <div class="buttons">
                    <div class="features">
                      <ul>
                        <li class="speech"><i class="fas fa-volume-up"></i></li>
                        <li class="copy"><i class="fas fa-copy"></i></li>
                        <li class="twitter"><i class="fab fa-twitter"></i></li>
                      </ul>
                      <button>New Quote</button>
                    </div>
                  </div>
                </div>
                <h2 class="title">Future is here</h2>
                <h3>Help You To Get The Best Job That Fits You</h3>
                <button class="btn">
                  <a href="recruiter">Post A Job</a>
                </button>
                <button class="btn"><a href="login">Get A Job</a></button>
              </div>
            </div>
          </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="" style="--i: 0.05s">Home</a>
          </li>
          <li>
            <a href="login" style="--i: 0.1s">JOBSEEKERS LOGIN</a>
          </li>
          <li>
            <a href="recruiter" style="--i: 0.15s">EMLOYERS LOGIN</a>
          </li>
          <li>
            <a href="#" style="--i: 0.2s">ABOUT</a>
          </li>
          <li>
            <a href="contact" style="--i: 0.25s">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>

    <script src="/static/app.js"></script>
    <script src="/static/quote.js"></script>
  </body>
</html>
